
$font-stack: 'Open Sans', sans-serif;
$brand-color: #800000;
$prussian-blue: #0033A0;
$white:#ffffff;
$darkgreen:#002244;
$mariner: #2172ba;
$mystic-grey: #E9EAE9;
$concrete-grey: #D4D4D0;
$lightning-yellow: #F5A623;
$primary-color: #333;
$primary-blue: #003399;